body{
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
p{
  margin: 40px;
  max-width: 600px;
  text-indent: 10px
}
p::first-letter{
  font-family: cursive;
  font-size: 39px;
  line-height: 3.5px;
  color: red;
}
p::first-line{
  font-family: cursive;


  color: red;
}
